img {
    width: 200px;
}

p {
    font-family: Comic Sans MS;
    color: #FF1060
}

h1 {
    font-family: Calibri;
    color: #9F8020
}

body {
        background-color: #90E4B0;
        text-align: center;
}